.container {
	max-width: 1400px;
	padding: 0 1rem;
	margin: 3rem auto 6rem;
}

.headerDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

.headerDiv h1 {
	font-size: 4.5rem;
}

.headerImage {
	width: 7rem;
	height: 5.5rem;
	margin-right: 1rem;
	float: left;
}

.headerHomeImage {
	width: 7.5rem;
	height: 5.5rem;
	margin-right: 2rem;
}

.backToHome {
	margin: 3rem 0 0;
}

.footer {
	font-size: .7rem;
	line-height: .4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 2rem 0 0 0;
}
