.card{
  background-color:#444;
  padding: 1rem;
  border-radius: 5px;
}

.date{
  display: block;
}

.tag{
  background-color: crimson;
  margin: 0 .5rem 0 0;
  padding: .3rem;
  border-radius: 100px;
  font-size: 1rem;
}

.tagDiv {
  display: flex;
  flex-wrap: wrap;
}

.description{
  margin: .7rem 0;
  line-height: 1.1;
}